<%inherit file='index.html' />
<form id='useredit' name='useredit' method="post" action="${root_dir}/user/save">
<table cellspacing="0"><tr>
% if user.username == None:
	<td colspan="2" class="headertd">
		<input type="hidden" name="new" value="True" />
		new user
	</td>
	</tr><tr>
% else:
	<td colspan="2" class="headertd">
		<input type="hidden" name="new" value="False" />
		edit user
	</td>
	</tr><tr>
% endif
	<td class="listtdleft">username</td>
	<td class="listtd"><input type="text" name="username" value="${user.username}" style="width: 300px; border-style: solid;" /></td>
</tr><tr>
	<td class="listtdleft">password</td>
	<td class="listtd"><input type="password" name="password" value="${user.password}" style="width: 300px; border-style: solid;" /></td>
</tr><tr>
	<td class="listtdleft">userid</td>
	<td class="listtd"><input type="text" name="uid" value="${user.uid}" style="width: 300px; border-style: solid;" /></td>
</tr><tr>
	<td class="listtdleft">groupid</td>
	<td class="listtd"><input type="text" name="gid" value="${user.gid}" style="width: 300px; border-style: solid;" /></td>
</tr><tr>
	<td class="listtdleft">homedir</td>
	<td class="listtd"><input type="text" name="homedir" value="${user.dir}" style="width: 300px; border-style: solid;" /></td>
</tr><tr>
	<td class="listtdleft">&nbsp;</td>
	<td class="listtd">
		<input type="submit" value="Save" />&nbsp;&nbsp;
		<input type="button" value="Delete" onclick="remove_user();" />
	</td>
</tr></table>
</form>
<script language="Javascript1.2" type="text/javascript">
	function remove_user() {
		if (confirm('Are you sure you want to delete this user?')) {
			var username = document.getElementById('useredit').username.value;
			document.location.href='${root_dir}/user/delete/?username='+username
		}
	}
</script>
