<%inherit file='index.html' />
<table cellspacing="0"><tr>
	<td class="headertdleft">username</td>
	<td class="headertd">password</td>
	<td class="headertd">uid</td>
	<td class="headertd">gid</td>
	<td class="headertdright">homedir</td>
</tr>
% for user in users:
	<tr>
		<td class="listtdleft"><a href="${root_dir}/user/edit/${user.username}">${user.username}</a></td>
		<td class="listtd">${user.password}</td>
		<td class="listtd">${user.uid}</td>
		<td class="listtd">${user.gid}</td>
		<td class="listtd">${user.dir}</td>
	</tr>
% endfor
</table>
