<%inherit file='index.html' />
<form method="post" action="${root_dir}/login">
<input type="hidden" name="from_page" value="${from_page}" />
<table cellspacing="0"><tr>
	<td class="headertdleft">&nbsp;</td>
	<td class="headertdright">&nbsp;</td>
</tr><tr>
	<td class="listtdleft">username</td>
	<td class="listtd"><input type="text" name="username" /></td>
</tr><tr>
	<td class="listtdleft">password</td>
	<td class="listtd"><input type="password" name="password" /></td>
</tr><tr>
	<td class="listtdleft">&nbsp;</td>
	<td class="listtd"><input type="submit" value="login" /></td>
</tr></table>
</form>
