.copyright {
	bottom: 0px;
	right: 0px;
	height: 15px;
	border-top: 3px solid #6699CC;
	border-bottom: 3px solid #6699CC;
	background-color: #336699;
	color: #E4E9EB;
}
html, body, form {
	height: 100%;
	width: 100%;
	margin: 0px 0px 0px 0px;
}
td {
	background-color: #FFFFFF;
}
.pagetable {
	height: 100%;
	width: 100%;
}
.logo {
	height: 50px;
	width: 100%;
	left: 50%;
}
.maintd {
	width: 100%;
	right: 50%;
	height: 100%;
}
.links {
	border-top: 3px solid #6699CC;
	border-bottom: 3px solid #6699CC;
	background-color: #336699;
	color: #E4E9EB;
}
.listtdleft {
	border-left: 1px solid #000000; 
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
}
.listtd {
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
}
.headertdleft {
	border-left: 1px solid #000000; 
	border-top: 3px solid #6699CC;
	border-bottom: 3px solid #6699CC;
	background-color: #336699;
	color: #E4E9EB;
}
.headertd {
	border-top: 3px solid #6699CC;
	border-bottom: 3px solid #6699CC;
	background-color: #336699;
	color: #E4E9EB;
}
.headertdright {
	border-right: 1px solid #000000; 
	border-top: 3px solid #6699CC;
	border-bottom: 3px solid #6699CC;
	background-color: #336699;
	color: #E4E9EB;
}
a.toplinks {
	color: #E4E9EB;
	font-weight: bold;
}
